<template>
  <div class="array">
    <table>
        <thead>
            <tr>
                <th colspan="2">Cards details</th>
            </tr>
              <td>Date</td>
              <td>Event</td>
        </thead>
        <tbody>
            <tr v-for="(data,i) in display" :key="i">
                <td>{{data.date}}</td>
                <td>{{data.ans}}</td>
            </tr>
        </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'page-2',
  data: function () {
    return {
      display: null,
    } 
  },
  mounted() {
    //receive array datas from localStorage
    this.display = JSON.parse(localStorage.getItem("array")) 
  }
}
</script>

<style scoped>
table, th, td {
  border: 1px solid white;
}

table {
  border-collapse: collapse;
  margin-top: 25vh;
  color: white;
}

.array {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}
</style>
