<template>
  <div>
    <p>Please enter dates separated by commas :</p>
    <input id="dates" v-model="dates" type="text" name="name" v-on:keyup.enter="sendDates">
    <div class="history">
      A MOMENT OF HISTORY <br />
      <b>You entered {{count}} {{ count > 1 ? 'dates' : 'date' }}...</b>
    </div>
      <div class="whiteCard" v-for="(data,i) in display" :key="i">
        <h5>{{data.date}}</h5>
        <p>{{data.ans}}</p>
      </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'page-1',
  data: function () {
    return {
      dates: null,
      display: null,
      count: 0
    } 
  },
  methods: {
    sendDates() {
      let datesToSend = this.dates.replace(' ', '').split(',');
      this.count = datesToSend.length;
      //get dates from api + add it to local storage
      axios.get('http://localhost:8000/date', { params: { dates: datesToSend } })
      .then(res => {
        this.display = res.data;
        localStorage.setItem("array", JSON.stringify(this.display));
      })
    }
  }
}
</script>

<style scoped>
  input {
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
    width: 35vw;
}
  .history {
    background-color: black;
    margin: 0 auto;
    margin-top: 1vw;
    width: 30vw; 
    color: white;
    padding: 2vw;
  }

  .whiteCard {
    text-align: left;
    padding: 1vw;
    background-color: white;
    border-radius: 5px;
    color: black;
    margin: 0 auto;
    width: 30vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
</style>
