<template>
  <div id="app">
    <div id="nav">
      <router-link to="/page1">Page 1</router-link> |
      <router-link to="/page2">Page 2</router-link>
    </div>
    <router-view/>
		<div class="blue-polygon"></div>
		<div class="cyan-polygon"></div>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body{
  background-image: linear-gradient( red, black);
  background-attachment: fixed;
  z-index: -1;
  margin: 0;
}

.blue-polygon {
  background-color: rgb(14, 19, 97);
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
}

.cyan-polygon {
  background-color: rgb(0, 191, 245);
  clip-path: polygon(25% 0, 75% 0%, 75% 24%, 25% 48%);
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
}

#nav a.router-link-exact-active {
  color: #000000;
}
</style>
